extends ../layout
block content
	link(rel='preconnect' href='https://fonts.googleapis.com')
	link(rel='preconnect' href='https://fonts.gstatic.com')
	link(rel='stylesheet' href='/stylesheets/registration.css')
	.main_div
		.container
		form#form(action="/users/storeLoginDetails" method = "POST" onsubmit="return false" )
			h1 Registration
			.input-control
				label(for='username') Username
				input#username(name='username' type='text' onkeyup='uservar(),temp()')
				.error
			.input-control
				label(for='email') Email
				input#email(name='email' type='text' onkeyup ='emailvar(),temp()')
				.error
			.input-control
				label(for='password') Password
				input#password(name='password' type='password' onkeyup ='passwordvar(),temp()')
				.error
			.input-control
				label(for='password2') Password again
				input#password2(name='password2' type='password' onkeyup ='cnfpassword(),temp()') 
				.error
			button(type='submit' name='submit' id = "submit_btn") Sign Up
	script(defer='' src='/javascripts/registration.js')